<div>
    {{#g-map lat="37.75856121492359" lng="-122.4482964862671" zoom=12 as |g|}}
        {{#each this.model as |foodtruck|}}
            {{#g.marker
                lat=foodtruck.latitude
                lng=foodtruck.longitude
                draggable=false
                onClick=(action "toggle" foodtruck) as |m|
            }}
                {{#m.infoWindow isOpen=foodtruck.isOpen
                    closeclick=(action "toggle" foodtruck) as |i|
                }}
                    <div>
                        <h1>{{foodtruck.name}}</h1>
                        <h2>{{foodtruck.address}}</h2>
                        <h3>Menu:</h3>
                        <h4>{{foodtruck.menu}}</h4>
                    </div>
                {{/m.infoWindow}}
            {{/g.marker}}
        {{/each}}
    {{/g-map}}
</div>

